@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

.tw-wrapper a {
    color: inherit;
    text-decoration: none;
}

.tw-prod-description {
    font-family: 'Roboto';
    font-size: 20px !important;
    font-weight: 400;
    line-height: 100% !important;
    width: 100%;
    box-sizing: border-box;
}

.tw-prod-container {
    margin: 0 auto;
    width: 100%;
    /* padding: 0 20px; */
}

.tw-yellow {
    color: #FFBF00 !important;
}

.tw-upper {
    text-transform: uppercase !important;
}

.tw-prod-description ul,
.tw-prod-description ol {
    list-style: none;
    padding: 0 !important;
    padding-inline-start: 0px !important;
}

.tw-prod-description .tw-desc {
    margin-bottom: 50px !important;
}

.tw-subtitle {
    font-size: 32px !important;
    font-weight: 700;
    line-height: 38px !important;
    margin: 0 0 25px !important;
}

.tw-char-block {
    position: relative;
    padding: 25px 25% 48px 20px;
    margin-bottom: 50px;
    color:#ffffff;
    border-radius: 20px;
    background: linear-gradient(123.85deg, rgba(0, 0, 0, 0.77) 5.94%, rgba(0, 0, 0, 0.385) 101.75%), url('./img/tw_desc_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tw-char-block>.tw-upper {
    margin-bottom: 25px !important;
}

.tw-prod-description .tw-gr-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    font-size: 14px !important;
    line-height: 100% !important;
}

.tw-prod-description .tw-gr-list li {
    position: relative;
    display: inline;
    padding-left: 15px;
}

.tw-prod-description .tw-gr-list li::before {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 4px !important;
    display: block;
    width: 4px;
    height: 4px;
    background: #FFBF00;
    border-radius: 50%;
}

.tw-prod-description .tw-gr-list li>.tw-yellow {
    display: block;
    margin-bottom: 10px !important;
}

.tw-char-block .tw-desc-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 30%;
}

.tw-wh-block {
    margin: 25px 0 45px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tw-wh-item {
    width: 100%;
    max-width: 205px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px !important;
    line-height: 100% !important;
}

.tw-ban {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
    color:#ffffff;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('./img/tw_desc_bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tw-ban-content {
    padding: 25px 0;
}

.tw-ban-title {
    display: block;
    margin-bottom: 25px !important;
}

.tw-ban-img-block {
    width: 25%;
    position: relative;
    padding: 20px 40px;
}

.tw-ban-img-block>img {
    position: absolute;
}

.tw-ban-img-1 {
    bottom: -50px;
    right: 0;
}

.tw-ban-img-1-l {
    display: none;
}

.tw-ban-img-2 {
    bottom: -70px;
    left: -40px;
}

@media (max-width: 992px) {

    .tw-ban-img-block>img {
        height: auto;
    }
}

@media (max-width: 768px) {

    .tw-prod-description .tw-desc {
        margin-bottom: 40px !important;
    }

    .tw-subtitle {
        font-size: 26px !important;
        line-height: 30px !important;
    }

    .tw-char-block {
        padding: 45px 20px;
        margin-bottom: 80px;
    }

    .tw-char-block>.tw-upper {
        margin-bottom: 20px !important;
    }

    .tw-prod-description .tw-gr-list li {
        padding-left: 10px;
    }

    .tw-char-block .tw-desc-img1 {
        bottom: auto;
        top: -50px;
    }

    .tw-prod-container {
        text-align: center;
    }

    .tw-wh-block {
        margin: 20px 0 80px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .tw-wh-item {
        align-items: center;
        gap: 10px;
    }

    .tw-ban {
       flex-direction: column-reverse;
       margin-bottom: 80px;
    }

    .tw-ban-content {
        padding: 10px;
    }

    .tw-ban-title {
        display: block;
        margin-bottom: 20px !important;
    }

    .tw-ban-img-block {
        width: 100%;
        position: relative;
        padding: 20px 40px;
    }

    .tw-ban-img-block>img {
        position: absolute;
        width: 100%;
    }

    .tw-ban-img-1 {
        max-width: 30%;
        bottom: -70px;
        right: 0;
    }

    .tw-ban-img-1-r {
        display: none;
    }

    .tw-ban-img-1-l {
        display: block;
    }

    .tw-ban-img-2 {
        max-width: 35%;
        bottom: -10px;
        left: -10px;
    }
   
}